# macOS 관련
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
umm/.DS_Store

# 사용자 설정 파일
umm/umm.xcodeproj/project.xcworkspace/xcuserdata/
umm/umm.xcodeproj/xcuserdata/
umm/umm.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
umm/umm.xcodeproj/xcshareddata/xcschemes/xcschememanagement.plist
umm/umm.xcodeproj/xcuserdata/*

# 사용자 세션 등
umm/umm.xcodeproj/**/xcuserdata/
umm/umm.xcodeproj/**/xcuserstate
umm/umm.xcodeproj/**/xcscmblueprint

# Xcode 빌드/파생 폴더
umm/build/
umm/DerivedData/

# 민감한 설정
umm/Config.xcconfig

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/